<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #083464; padding: 10px; border-bottom: 7px solid #bea066; border-radius: 0 0 40px 40px; position: relative; height: 70px;">
    <div class="container-fluid">
        <!-- Espaço vazio para estruturar a navbar -->
    </div>
</nav>
<div class="logo-container text-center" style="position: absolute; top: 65px; left: 50%; transform: translate(-50%, -50%);">
    <img src="\media\profile_photos\414f6383-85fc-41ae-8564-f40e6c7e73af.png" 
        alt="Logo Sistema de Gestão" 
        style="height: 120px; width: auto; background-color: white; padding: 5px; border-radius: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); border: 1px solid #ddd;">
</div>
