
.logo-container::after {
    content: ''; /* Obrigatório para ::after funcionar */
    position: absolute; /* Posição flutuante */
    
    /* URL da sua imagem de gorro */
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;

    /* Tamanho do gorro (AJUSTE CONFORME NECESSÁRIO) */
    width: 200px;
    height: 200px;

    /* Posição do gorro (AJUSTE CONFORME NECESSÁRIO) */
    /* Estes valores são um ponto de partida */
    top: -45px;  /* Move 15px para CIMA do topo do logo */
    left: -65px;  /* Move 20px para a DIREITA da borda esquerda */

    z-index: 10; /* Garante que o gorro fique por cima do logo */
    transform: rotate(-20deg);
}


/* Isso cria o fundo laranja claro e a letra laranja escura */
.bg-laranja-subtle {
    background-color: #ffebd3 !important; /* Fundo Laranja clarinho */
    color: #cc5200 !important;            /* Texto Laranja escuro */
    border: 1px solid #ffebd3;            /* Opcional: borda para acabamento */
}
.text-laranja {
    color: #fd7e14 !important; /* Cor laranja do texto */
}

.logo-container::before {
    content: ''; /* Obrigatório */
    position: absolute;
    
    /* URL da nova imagem */
    background-image: url(''); 
    background-size: contain;
    background-repeat: no-repeat;

    /* Ajuste o tamanho e posição para não bater com a coroa */
    width: 100px; 
    height: 100px;
    top: 65px;   /* Exemplo: posição diferente */
    right: -25px; /* Exemplo: fixado na direita */
    transform: rotate(-30deg);
    z-index: 11;  /* Pode ajustar para ficar acima ou abaixo da coroa */
}